@charset "UTF-8";
/**
 * Нормализация блочной модели
 * */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

button,
input {
  overflow: visible;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.28;
}

.container {
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header {
  padding-top: 2rem;
}
@media (max-width: 1200px) {
  .header {
    padding-top: 1rem;
  }
}
@media (max-width: 760px) {
  .header {
    padding-top: 0.7rem;
  }
}
.header__box {
  display: flex;
  align-items: center;
  column-gap: 7rem;
}
@media (max-width: 1200px) {
  .header__box {
    column-gap: 4rem;
  }
}
.header__logo {
  font-size: 2.5rem;
  font-weight: 800;
  color: #b21877;
}
@media (max-width: 760px) {
  .header__logo {
    font-size: 3rem;
  }
}
.header__menu {
  margin-left: auto;
}
@media (max-width: 760px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  font-size: 1.8rem;
}
@media (max-width: 1200px) {
  .header__menu-list {
    column-gap: 2rem;
  }
}
.header__menu-link {
  color: #b21877;
  font-weight: 600;
  transition-duration: 0.2s;
}
.header__menu-link:hover, .header__menu-link.active {
  font-weight: 800;
  color: #42082c;
}
.header__menu-link.active {
  border-bottom: solid 0.1rem #42082c;
}

.header__button {
  border: none;
  padding: 1rem 1rem;
  border-radius: 4rem;
  background-color: #b21877;
  color: white;
  transition-duration: 0.4s;
}
.header__button:hover {
  background-color: #42082c;
  color: #fff;
}
@media (max-width: 760px) {
  .header__button {
    display: none;
  }
}

.burger-button {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  width: 3rem;
  cursor: pointer;
}
.burger-button::after {
  top: 3rem;
  left: 15rem;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 -8px, 0 8px;
}
@media (max-width: 760px) {
  .burger-button {
    display: block;
  }
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay:modal__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay:modal__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.cross-button {
  display: none;
  padding: 0;
  border: none;
  position: relative;
  width: 3rem;
  cursor: pointer;
}
.cross-button::before, .cross-button::after {
  top: 3rem;
  left: 15rem;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 3px;
  position: absolute;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}/*# sourceMappingURL=style.css.map */